.stats{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:18px;

}

.stat-card{

background:white;

padding:18px;

border-radius:18px;

box-shadow:0 8px 22px rgba(0,0,0,.06);

transition:.3s;

text-align:center;

}

.stat-card:hover{

transform:translateY(-8px);

box-shadow:0 18px 35px rgba(0,0,0,.08);

}

.stat-card h2{

font-size:24px;

color:#22c55e;

margin-bottom:8px;

}

.stat-card p{

font-size:14px;

line-height:1.5;

color:#64748b;

font-weight:500;

}

@media(max-width:1100px){

.stats{

grid-template-columns:repeat(4,1fr);

}

}

@media(max-width:700px){

.stats{

grid-template-columns:repeat(2,1fr);

}

}