.features {

    width: 100%;
    min-height: calc(100vh - 85px);

    padding: 28px 7% 35px;

    background: linear-gradient(
        180deg,
        #ffffff 0%,
        #f8fcf8 100%
    );

    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Fix navbar overlap */
    scroll-margin-top: 90px;
}

/* Heading */

.features-heading {

    text-align: center;

    margin-bottom: 20px;
}

.features-heading h2 {

    font-size: 46px;

    font-weight: 800;

    color: #0f172a;

    margin-bottom: 8px;

    line-height: 1.2;
}

.features-heading span {

    color: #22c55e;
}

.features-heading p {

    max-width: 680px;

    margin: auto;

    color: #64748b;

    font-size: 17px;

    line-height: 1.5;
}

/* Cards Grid */

.features-grid {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 18px;
}

/* Responsive */

@media(max-width:1100px){

.features{

padding:50px 8%;

}

.features-grid{

grid-template-columns:repeat(2,1fr);

gap:18px;

}

}

@media(max-width:768px){

.features{

padding:50px 6%;

}

.features-heading h2{

font-size:36px;

}

.features-heading p{

font-size:16px;

}

.features-grid{

grid-template-columns:1fr;

gap:18px;

}

}